* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'League Gothic', sans-serif;
  font-size: 22px;
  background: black;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1px;
  color: transparent;
}

h2 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

ul {
  list-style: none;
  text-align: left;
  color: #fff;
}

ul li {
  margin: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
}

input, textarea {
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 4px;
}

button {
  padding: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'League Gothic', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('assets/background_colour.png') 50% 30% / cover no-repeat fixed;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* --- Logo --- */
.overlay {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.mac-logo {
  width: 450px;
  height: 450px;
  transition: transform 0.3s ease;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

/* Side navigation */
.sidenav {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  right: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 10;
  padding: 4rem 1.5rem;
}

.sidenav.open {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.sidenav a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

.sidenav a:hover {
  /* text-decoration: underline; */
  color: #E89D02;
}

/* ---------- Burger ---------- */
.burger {
  display: flex;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 11;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger span {
  width: 26px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}


.content {
  padding-top: 4rem;
}

/* Burger animation */
.burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burger.open span {
  background: #E89D02;
}

@media (max-width: 786px) {
  .mac-logo {
    width: 300px;
    height: 300px;
  }

  .mac-logo.nav-open {
    transform: translateX(-65px);
    transition: transform 0.3s ease;
  }
}

/* -------- Smaller screen -------- */
@media (max-width: 550px) {
  .mac-logo {
    width: 200px;
    height: 200px;
  }
}
/* Add a pop-out animation */
@keyframes flyOut {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.bwbg {
  background: url('assets/background.png') 50% 30% / cover no-repeat fixed;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.98);
}

.menu a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.external-link {
  color: #fff;
  background: #e63946;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.4rem;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.cancel-btn {
  background: rgba(0,0,0,0.8);
  color: #e89d02;
  border: 2px solid #e89d02;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
}

.modal .button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #e89d02;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.modal p {
  max-width: 600px;
  margin-bottom: 0.5rem;
}

.checkbox-label {
  color: white;
  display: flex;
  align-items: center; /* vertically center input with text */
  gap: 0.5em; /* space between checkbox and text */
}

.checkbox-label a {
  color: #E89D02;
}

.social-icon {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.social-icon:hover {
  opacity: 1;
  color: #E89D02;
}

.submit {
  background: rgb(232, 157, 2);
  margin: 0.5rem 0;
  min-width: 200px;
}

.bird-img {
  width: 130px;
}

footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a img {
  margin: 0 0.5rem;
  filter: brightness(1) invert(1);
}

footer a:hover .social-icon {
  filter: invert(64%) sepia(92%) saturate(748%) hue-rotate(358deg) brightness(97%) contrast(103%);
  transform: scale(1.1);
}

/* COOKIE BANNER */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 1rem 1.5rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  flex-wrap: nowrap;
  z-index: 9999;
}

.cookie-banner p {
  margin: 0;
  flex: 1 1 0;
  min-width: 0;
}

.cookie-banner a {
  color: #6BCCC1; 
  text-decoration: underline;
}

.cookie-banner button {
  background-color: #6BCCC1;
  border: none;
  color: #000;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 3px;
  flex-shrink: 0;
}



/* 
BLACK #000000
WHITE #FFFFFF
TEAL #308577
PALE BLUE #6BCCC1
ORANGE #E89D02 232 157 2
PINK #E35B70
RED #C53C54
*/
